* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 350px;
    width: 270px;
    object-fit: cover;
}

.Card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.Card:hover {
    box-shadow: 5px 5px 10px green;
}

.CardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height: 80vh;
    width: 70vw;
    margin: auto;
}

h1,
.instructions,
.score {
    text-align: center;
}

h1 {
    font-size: 40px;
}

.instructions {
    font-size: 16px;
}

.score {
    font-size: 20px;
    margin: 10px 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, yellow, rgb(145, 145, 0));
}
